In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('enjoysport.xlsx')

In [5]:
df

     sky airTemp humidity    wind water forecast enjoySport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [6]:
def find_s(data):
    hypothesis = ['0'] * (len(data.columns) - 1)  # Initialize the hypothesis as the most general hypothesis
    for _, example in data.iterrows():
        if example.iloc[-1] == 'yes':
            for i in range(len(example) - 1):
                if hypothesis[i] == '0':
                    hypothesis[i] = example[i]
                elif hypothesis[i] != example[i]:
                    hypothesis[i] = '?'
    return hypothesis

In [7]:
hypothesis = find_s(df)

C:\Users\prita\AppData\Local\Temp\ipykernel_9644\214930621.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  hypothesis[i] = example[i]
C:\Users\prita\AppData\Local\Temp\ipykernel_9644\214930621.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif hypothesis[i] != example[i]:

In [8]:
print('Final hypothesis:', hypothesis)

Final hypothesis: ['sunny', 'warm', '?', 'strong', '?', '?']